<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Virtual Schmirtual</title>
  </head>
  <body>
    <h1>Virtual Host Directory</h1>
    {{#if message }}
      <p>{{message}}</p>
    {{else}}
      <p>No message yet.</p>
    {{/if}}

    <form action="/submit" method="post" accept-charset="utf-8">
      <input type="file" name="configfile" value="configfile" id="fileupload">
      <lable for="fileupload"> Submit your nginx file</lable> 
      <input type="submit" value="submit">
    </form>
  </body>
</html>
